<div class="container">
  <nav class="navbar ">
    <div class="navbar-brand">
      <div class="navbar-burger burger" data-target="navMenuDocumentation">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="navbar-menu" id="navMenuDocumentation">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link  is-active" href="/documentation/overview/start/">
                            Docs
                        </a>
          <div class="navbar-dropdown ">
            <a class="navbar-item " href="/documentation/overview/start/">
                                Overview
                            </a>
            <a class="navbar-item " href="http://bulma.io/documentation/modifiers/syntax/">
                                Modifiers
                            </a>
            <a class="navbar-item " href="http://bulma.io/documentation/grid/columns/">
                                Grid
                            </a>
            <a class="navbar-item " href="http://bulma.io/documentation/layout/container/">
                                Layout
                            </a>
            <a class="navbar-item " href="http://bulma.io/documentation/form/general/">
                                Form
                            </a>
            <a class="navbar-item " href="http://bulma.io/documentation/elements/box/">
                                Elements
                            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>


<select>
      <!----><option  value="es">Español</option><option  value="en">Ingles</option>
</select>

<p>Idioma actual: <b>Español</b></p>