<header>
  <div class="container has-text-centered" style="padding-top:10px; padding-bottom:10px;">
    <figure>
      <img src="assets/img/logo1.png" alt="" width="200px">
    </figure>
  </div>
  <nav class="nav has-shadow" style="background-color: #850421;height: 70px;">
    <div class="container">
      <div class="nav-left">
        <a class="nav-item">
                <img src="assets/img/logo.png" alt="Bulma logo" style="width: 100px;">
            </a>
      </div>
      <span class="nav-toggle" style="margin-top:10px">
                <span></span>
                <span></span>
                <span></span>
      </span>

      <div class="nav-right nav-menu" style="padding: 15px; background-color: #850421;">
        <a class="nav-item is-tab is-active" routerLink="/" routerLinkActive="active" style="color: white; border-bottom: 3px solid white; font-family: roboto;">Inicio</a>
        <a class="nav-item is-tab" routerLink="/productos" routerLinkActive="active">Productos</a>
        <a class="nav-item is-tab">Casos</a>
        <a class="nav-item is-tab">Ayuda</a>
        <a class="nav-item is-tab">Datos</a>
      </div>
    </div>
  </nav>
</header>