<header>
  <div class="container has-text-centered" style="padding-top:10px; padding-bottom:10px;">
    <figure>
      <img src="assets/img/logo.png" alt="">
    </figure>
  </div>
  <nav class="nav has-shadow" style="background-color: #850421;height: 70px;">
    <div class="container">
      <div class="nav-left">
        <a class="nav-item">
                <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma logo">
            </a>
      </div>
      <span class="nav-toggle" style="margin-top:10px">
                <span></span>
                <span></span>
                <span></span>
      </span>

      <div class="nav-right nav-menu" style="padding: 15px;">
        <a class="nav-item is-tab is-active" style="color: white; border-bottom: 3px solid white; font-family: roboto;">Inicio</a>
        <a class="nav-item is-tab">Datos</a>
        <a class="nav-item is-tab">Casos</a>
        <a class="nav-item is-tab">Ayuda</a>
        <a class="nav-item is-tab">Datos</a>
      </div>
    </div>
  </nav>
</header>


<select>
      <!----><option  value="es">Español</option><option  value="en">Ingles</option>
</select>

<p>Idioma actual: <b>Español</b></p>