<div class="center-div">
  <form>
    <div class="field">
      <label class="label">Usuario</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input is-success" type="text" placeholder="Usuario">
        <span class="icon is-small is-left">
          <i class="fa fa-user"></i>
        </span>
      </div>
    </div>
    <div class="field">
      <label class="label">Contracena</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input is-success" type="text" placeholder="Contracena">
        <span class="icon is-small is-left">
          <i class="fa fa-lock"></i>
        </span>
      </div>
    </div>
    <div class="control">
      <button class="button is-primary">Iniciar</button>
    </div>
  </form>
</div>